################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Keyboardhack/KeyboardHackerMan/bin/Debug/netcoreapp3.1
/.vs
/Keyboardhack/.vs/Keyboardhack
/Keyboardhack/KeyboardHackerMan/obj
